.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
}
.puzzle_container {
    width: calc(100vw - 180px);
}

.home-text {
  padding: 0 10px;
  text-align: left;
}

.completed_puzzle {
    color: green;
	text-decoration: line-through;
}

.incomplete_puzzle {
}

a, a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
