.fishbowl_container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.goldfish {
  height: 100px;
}

.fishbowl{
  height: 150px;
}
.puzzle_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass_cover {
  border: 4px solid;
  margin-top:-165px;
  z-index: 2;
  border-color: rgba(200, 200, 200, .15) rgba(200, 200, 200, .6) rgba(200, 200, 200, .6) rgba(200, 200, 200, .15);
  background-color: rgba(200, 200, 200, .15);   
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.75) 35px, rgba(255,255,255,.5) 70px);
  backdrop-filter: blur(0.75px);
  width: 450px;
  height: 180px;
}
